@import './settings.scss';

.footer {
  background-color: $primary-color;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  .footer__body__title {
    color: white;
  }
}
