@import './settings.scss';
@import './styles.scss';
.cards-container {
  display: grid;
  gap: 10px;
  justify-content: center;

  a {
    text-decoration: none;
  }
}
.card-container {
  max-width: 330px;
  height: 380px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  color: $grey-color;
  cursor: pointer;
  @include shadow;

  .card-container__header {
    display: flex;
    justify-content: center;
  }
  img {
    max-width: 100%;
    max-height: 300px;
  }
  .card-container__body {
    padding: 15px;
    font-size: 1em;
    width: 75%;
    float: left;
  }
  .card-container__price {
    background-color: $green-color;
    color: white;
    width: 25%;
    float: left;
    font-size: 2em;
    position: relative;
    margin-top: 5px;
    border-radius: 15px 0px 0px 15px;

    .card-container__price__price-text {
      margin: 5px;
    }
  }
}

.info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  margin-top: 10px;

  .info__button {
    margin: 20px;
    font-weight: bold;
    border-radius: 10px;
  }
}

.game-details-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  min-width: 400px;
  max-width: 90vw;
  padding: 10px;
  @include shadow;

  .game-details__image-container {
    padding: 10px;
  }
  .game-details__body {
    padding: 15px;
    text-align: justify;
    margin: 10px;
    .game-details__price__button {
      background-color: $primary-color;
      margin-top: 10px;
      padding: 10px;
    }

    .game-details__price {
      background-color: $primary-color;

      text-align: center;

      .game-details__price-text {
        color: white;
      }
    }

    h4 {
      margin-top: 5px;
    }
  }
}

.game-comments {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  width: 90vw;
  padding: 10px;
  border-radius: 10px;
  @include shadow;

  &__title {
    margin: 10px;
    text-align: center;
    padding: 10px;
  }

  &__user-comment {
    display: flex;
    justify-content: center;
    margin: 50px;
  }
  &__button {
    margin: 10px;
  }

  &__input {
    margin-left: 10px;
    min-width: 50vw;
  }
  &__comment {
    width: 80vw;
  }
}

.comment-container {
  padding: 10px;
  margin: 10px;
}
