.mainpage-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title-container {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}
.main-info {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.main-info__img {
  margin: 0px 40px;
  min-width: 200px;
  max-width: 550px;
  height: 100%;
}
