@import './settings.scss';

.form {
  margin: 100px;
  display: flex;
  justify-content: center;
  min-width: 80vw;
  height: 500px;
  background-color: $primary-color;
  border-radius: 20px;
  @include shadow;

  &-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__button {
      margin-top: 20px;
      padding: 10px;
      border-radius: 10px;
      background-color: white;
      font-weight: bold;
    }
  }
  &-label {
    padding: 20px;
    color: white;
    font-weight: bold;
  }
  &-input {
    padding: 6px;
    border-radius: 10px;
  }
}

.form-container {
  display: flex;
  justify-content: center;
}
.user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;

  &__button {
    margin-top: 20px;
    padding: 15px;
  }
}
@media screen and (min-width: 800px) {
  .form {
    min-width: 50vw;
  }
}
