@import './settings.scss';

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.pagination-list {
  list-style-type: none;
}

.pagination-list__item {
  float: left;
}

.pagination-list__link {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;

  &:hover {
    background-color: $grey-ligth-color;
    color: white;
    border-radius: 10px;
  }
}

.pagination-list__link--active {
  background-color: $grey-ligth-color;
  color: white;
  border-radius: 10px;
}
