@import './settings.scss';
@include loader;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $ligth-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-container {
  flex-grow: 1;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

.header-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}
.button-primary {
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  background-color: $primary-color;
}
@media screen and (min-width: 700px) {
  .cards-container {
    grid-template-columns: 330px 330px;
  }
  .game-details-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 990px) {
  .cards-container {
    grid-template-columns: 330px 330px 330px;
  }
}
